// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
  font-family: 'Work Sans' , sans-serif;
}

.btn-primary{
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px ;
  color: #fff;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px  240px ;
 
  
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav > ul{
  display: flex;
  /* font-weight: 700;
  color: #131313; */
  
}

nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}
.section-title{
  font-size: 2.7rem;
  font-weight: 700;
  color: #131313;

}
/* banner style */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;

}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color:#131313 ;
}

.text-lighy-grey{
  color: #727272;
}

.banner img{
  width: 100%;
  margin-top: 20px;
}


main{
  max-width: 1440px;
  margin: 0 auto;

  

}
/* teams-style */
.teams-container{
        display: flex;
        align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content{
  padding-right:70px ;
  padding-left: 70px;
}

.teams-title{
  font-size: 2.8rem;

}
.teams-title {
        
        font-weight: 1200;
}
 .teams-title .text-features{
  color:#ff900e;
  font-weight: 700;
}

/* features style */
.features{
  display: flex;
  margin-top: 130px;
  gap: 50px;
}
.feature-content .card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);

}
.features .feature-title{
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.ten-years-badge{
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  text-align: center;
  
}
.ten-years-badge h2{
  font-size: 4rem;
}

/* facts section */
.facts-card-container{
  display: flex;
  justify-content: space-around;

}

.facts-card-container .card{
     border-radius: 8px;
     border: 1px solid #ff900e;
     text-align: center;
     padding: 30px;

     
}

/* .card{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
  
} */
 .facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
  color: #424242;
  
  /* border-width: 450px; */
  
} 

.facts-card-container .card-stats{
     padding: 0.1rem;
    
  
     margin-top: 10px;
     margin-bottom: 10px;

}
/* sponsors style */
.sponsors{
  text-align: center;
}
.sponsors-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img{
  width: 165px ;
  /* height: 50px; */
}














/* responsive media querry */
/* mobile devices */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container
  {
    flex-direction: column;
  }
.teams-img-container{
  grid-template-columns: 1fr;
}
.teams-content, .facts-card-container{
  padding-right:20px ;
  padding-left: 20px;
}

.facts-card-container{
 
  gap: 30px;
  
} 

.sponsors-img-container{
    
}



}





/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
  nav, 
  .teams-container,
  .sponsors-img-container
  {
    flex-direction: column;
  }
  header{
    padding: 50px ;
  }

  
}



